{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_supervisors/subpages/_menu.html' %}

<div class="container max-width-container">
  <div class="row">

    <div class="col-md-4">
      {% include 'core/subpages/_left_aside.html' with data=request.user %}

      <div class="col-10 mx-auto mt-5">
        <div class="bd-callout bd-callout-warning">
          <h4>
            <i class="fa fa-bell-o" aria-hidden="true"></i> Memo
          </h4>
        </div>
      </div>
    </div>

    <div class="col-md-8">

      <div class="bg-prompt">
        <div class="prompt p-4 text-center">
          <h4>Welcome</h4>

          <div class="col-8 mx-auto my-4">
            Hello, everyone!
          </div>

          <h5 class="text-info">Quick Links</h5>
          <p class="col-8 mx-auto">If you would like to check out TA Award applications in your Program Groups, please click on the links bellow.</p>
          <ul>
            {% for pg in programgroups %}
              <li>
                <a href="#">{{ pg.name }} ({{ pg.code }})</a>
              </li>
            {% empty %}
              <li>No Program Groups found</li>
            {% endfor %}
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
