{% extends 'core/base.html' %}
{% block content %}

{% include 'ta_award_students/subpages/_menu.html' %}

<div class="container max-width-container">
  <div class="row">
    <div class="col-md-4">
      {% include 'core/subpages/_left_aside.html' with data=request.user %}

      <div class="col-10 mx-auto mt-5">
        <div class="bd-callout bd-callout-warning">
          <h4>
            <i class="fa fa-bell-o" aria-hidden="true"></i> Memo
          </h4>
        </div>
      </div>

    </div>

    <div class="col-md-8">

      <div class="bg-prompt">
        <div class="prompt p-4 text-center">
          <h4>Welcome</h4>

          <div class="col-8 mx-auto my-4">
          </div>

          <p class="col-8 mx-auto">If you would like to explore current openings, please click on the button bellow.</p>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
