{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admins/subpages/_menu.html' %}

<div class="container mt-5 px-0">
  {% include 'core/subpages/_header.html' with title='Access Levels' total=accesslevels|length %}

  <div class="row">
    <div class="col-md-5">
      <div class="bg-prompt">
        <div class="prompt p-4 mb-4">
          <h4>Create Access Level</h4>

          <form action="" method="post">
            {% csrf_token %}

            {% for field in form.visible_fields  %}
              <div class="field-wrapper">
                {{ field.label_tag }}
                {% if field.help_text %}
                  <div class="help">{{ field.help_text|safe }}</div>
                {% endif %}
                {{ field }}
              </div>
            {% endfor %}

            {% for field in form.hidden_fields %}
              {{ field }}
            {% endfor %}

            <input class="btn btn-primary mt-3" type="submit" value="Create" />
          </form>

        </div>
      </div>
    </div>

    <div class="col-md-7">

      <table class="table table-bordered table-hover table-striped table-responsive-md text-center">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for ac in accesslevels %}
            <tr>
              <td>{{ ac.id }}</td>
              <td>{{ ac.name }}</td>
              <td>
                <div class="btn-toolbar">
                  <button class="btn btn-xs btn-primary mr-2" type="button" data-toggle="modal" data-target="#access-level-edit-modal-{{ ac.id }}">Edit</button>

                  <div class="modal fade" id="access-level-edit-modal-{{ ac.id }}" tabindex="-1" role="dialog" aria-labelledby="access-level-edit-modal-label-{{ ac.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="access-level-edit-modal-label-{{ code.id }}">Edit Access Level</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body text-left">
                          <div class="modal-item">
                            <h4>Access Level Edit Form</h4>

                            <form action="{% url 'gp_admins:edit_accesslevel' ac.id %}" method="post">
                              {% csrf_token %}

                              <div class="field-wrapper">
                                <label for="id_name_{{ ac.id }}">Name:</label>
                                <div class="help">Maximum characters: 20</div>
                                <input id="id_name_{{ ac.id }}" type="text" name="name" maxlength="5" value="{{ ac.name }}" class="form-control" />
                              </div>

                              <input class="btn btn-primary" type="submit" value="Update Access Level" />
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <form action="{% url 'gp_admins:delete_accesslevel' %}" method="post" onsubmit="return confirm('Are you sure to delete this course code - {{ ac.name }} ?')">
                    {% csrf_token %}
                    <input type="hidden" name="accesslevel" value="{{ ac.id }}" />
                    <input class="btn btn-xs btn-danger" type="submit" value="Delete" />
                  </form>
                </div>
              </td>
            </tr>

          {% empty %}
            <tr>
              <td colspan="3">No accesslevels found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

</div>

{% endblock %}
