<nav class="container menu">
  <div class="dropdown">
    <a class="btn dropdown-item" href="{% url 'gp_students:index' %}">Home</a>
  </div>
  
  <div class="dropdown">
    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      TA Award Forms
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Graduate Teaching Award</a>
      <a class="dropdown-item" href="#">Major Award</a>
      <a class="dropdown-item" href="#">Four Year Doctoral Fellowship (4YF)</a>
      <a class="dropdown-item" href="#">Graduate Student Travel Award (GSTA)</a>
    </div>
  </div>

</nav>

{% include 'core/subpages/_return_messages.html' with data=messages %}
