{% load static %}

{% if 'Superadmin' in user_accesslevels or 'Admin' in user_accesslevels %}
  <p><a href="{% url 'gp_admins:index' %}">Go to Administrator Home</a></p>

{% elif 'Supervisor' in user_accesslevels %}
  <p><a href="#">Go to Manager Home</a></p>

{% elif 'Student' in user_accesslevels %}
  <p><a href="{% url 'gp_students:index' %}">Go to Student Home</a></p>

{% endif %}

<img class="mt-7 d-block mx-auto" src="{% static 'images/bee-gd6e90ff25_640.png' %}" width=200 alt="bumble-bee"/>
